In [1533]:
import pandas as pd
import datetime as dt

# Exploratory Data Analysis

## Transformaciones

**Proyectos**

In [1534]:
proyectos=pd.read_csv("data/origen/PROYECTOS_VIEW.csv")

In [1535]:
proyectos.head(3)

,ID_PROYECTO,RUT_PROYECTO,RUT_PROYECTO_PROMESA,NOM_PROYECTO,NOM_LEGAL,NOM_LEGAL_PROMESA,NOMBRE_BANCO,ACTIVO,HORARIO_ATENCION_PROYECTO,CTACTE,...,DESCRIPCION,URL_LOGO,URL_IMAGEN_1,URL_IMAGEN_2,URL_IMAGEN_3,ELIMINADO,FECHA_REGISTRO_PROYECTO,DIVIDENDO_ANIOS1,DIVIDENDO_ANIOS2,DIVIDENDO_ANIOS3
0,1,76326025-9,76326025-9,MARCHA BLANCA,INMOBILIARIA MARCHA BLANCA,INMOBILIARIA MARCHA BLANCA,BANCO DEL DESARROLLO,1,1,3424234.0,...,NaN,ifai/proyectos/1/archivos/MARCHABLANCA_LOGO.png,ifai/proyectos/1/archivos/MARCHABLANCA_IMAGEN-...,NaN,NaN,0,2020-01-23 00:44:03,25,20,30
1,2,76.761.005-K,76.761.005-K,ORIGEN,INMOBILIARIA SANTA CRISTINA SPA,INMOBILIARIA SANTA CRISTINA SPA,BANCO SECURITY,1,1,916840023.0,...,NaN,ifai/proyectos/2/archivos/ORIGEN_LOGO.jpg,NaN,NaN,NaN,0,2018-04-20 00:00:00,25,20,30
2,3,76.618.549-5,76.618.549-5,COLIFE,INMOBILIARIA GENERAL JOFRE SPA,INMOBILIARIA GENERAL JOFRE SPA,BANCO SECURITY,1,1,916215565.0,...,NaN,ifai/proyectos/3/archivos/COLIFE_LOGO.jpg,NaN,NaN,NaN,0,2017-12-08 00:00:00,25,20,30

In [1536]:
proyectos.columns

Index(['ID_PROYECTO', 'RUT_PROYECTO', 'RUT_PROYECTO_PROMESA', 'NOM_PROYECTO',
       'NOM_LEGAL', 'NOM_LEGAL_PROMESA', 'NOMBRE_BANCO', 'ACTIVO',
       'HORARIO_ATENCION_PROYECTO', 'CTACTE', 'CALLE', 'CIUDAD',
       'CODIGO_POSTAL', 'REGION', 'COMUNA', 'NUM_EXTERIOR', 'NUM_INTERIOR',
       'PAIS', 'REFERENCIA', 'HORARIO_ATENCION', 'FECHA_ESCRITURA',
       'FECHA_INICIO', 'FECHA_TERMINO', 'PORCENTAJE_AVANCE',
       'PORCENTAJE_MULTA', 'EVALUACION_PLANA', 'EMPRESA_ASEGURADORA',
       'MONTO_POLIZA_SEGURO', 'PRECIO_VENTA_OBJETIVO_PONDERADO',
       'PRECIO_VENTA_OBJETIVO_UTIL', 'SUBSIDIO', 'TASA', 'TASA_HIP',
       'TELEFONO2', 'TELEFONO1', 'TELEFONO_AMC', 'EMAIL', 'EMAIL_2',
       'SITIO_WEB', 'VERSION', 'DESCRIPCION', 'URL_LOGO', 'URL_IMAGEN_1',
       'URL_IMAGEN_2', 'URL_IMAGEN_3', 'ELIMINADO', 'FECHA_REGISTRO_PROYECTO',
       'DIVIDENDO_ANIOS1', 'DIVIDENDO_ANIOS2', 'DIVIDENDO_ANIOS3'],
      dtype='object')

Se eliminan variables que no son relevantes para el objetivo de la actividad:

In [1537]:
# Las columnas 'RUT_PROYECTO_PROMESA' muestra un patrón de tener los mismos datos que 'RUT_PROYECTO'
# Se eliminan  las columnas que no tengan datos

proyectos = proyectos.drop(['RUT_PROYECTO_PROMESA','CODIGO_POSTAL','REGION', 
    'EVALUACION_PLANA', 'EMPRESA_ASEGURADORA','MONTO_POLIZA_SEGURO',
    'REFERENCIA','NUM_EXTERIOR','NUM_INTERIOR',
    'DESCRIPCION', 'URL_LOGO', 'URL_IMAGEN_1','HORARIO_ATENCION_PROYECTO', 'ACTIVO',
    'URL_IMAGEN_2', 'URL_IMAGEN_3','ELIMINADO','TELEFONO2', 'TELEFONO1',
    'TELEFONO_AMC', 'EMAIL', 'EMAIL_2', 'SITIO_WEB', 'VERSION','CTACTE'], axis=1)

Se modifica los valores de la columna Horario de atención. <br>
Se le da un rango horario que abarque a los diferentes horarios de attención existentes .. 
este es de 10:30 a 18:30 horas.

In [1538]:
proyectos.HORARIO_ATENCION.value_counts()

<b><font face="Arial" size="2">Horario de atención:</font></b><div><font face="Arial" size="2"><span style="caret-color: rgb(80, 80, 80); text-size-adjust: auto; background-color: rgb(253, 253, 253);">Lunes a<span class="Apple-converted-space">&nbsp;Domingo&nbsp;</span></span><span style="text-size-adjust: auto; background-color: rgb(253, 253, 253);"><span style="caret-color: rgb(80, 80, 80);">de 10:00 a 19:00 horas.</span><br></span></font></div>                                                                                                                                                                                                                                                                                                                                                                                                                     10
<b><font face="Arial" size="2">Horario de atención:</font></b><div><font face="Arial" size="2"><span style="caret-color: rgb(80, 80, 80); text-size-adjust: auto; background-color: rgb(253, 253, 253);"><b>Lunes a<span class="Apple-converted-space">&nbsp;Domingo&nbsp;</span></b></span><span style="text-size-adjust: auto; background-color: rgb(253, 253, 253);"><span style="caret-color: rgb(80, 80, 80);"><b>de 10:00 a 19:00 horas.</b></span><br></span></font></div>                                                                                                                                                                                                                                                                                                                                                                                                        3
<b><font face="Arial" size="2">Horario de atención:</font></b><div><font face="Arial" size="2"><span style="caret-color: rgb(80, 80, 80); text-size-adjust: auto; background-color: rgb(253, 253, 253);">Lunes a<span class="Apple-converted-space">&nbsp;Domingo&nbsp;</span></span><span style="text-size-adjust: auto; background-color: rgb(253, 253, 253);"><span style="caret-color: rgb(80, 80, 80);">de 10:30 a 19:30 horas.</span><br></span></font></div>                                                                                                                                                                                                                                                                                                                                                                                                                      1
<div><div><b><font face="Arial" size="2">Horario de atención:</font></b><div><font face="Arial" size="2"><span style="caret-color: rgb(80, 80, 80); text-size-adjust: auto; background-color: rgb(253, 253, 253);">Lunes a<span class="Apple-converted-space">&nbsp;Domingo&nbsp;</span></span><span style="text-size-adjust: auto; background-color: rgb(253, 253, 253);"><span style="caret-color: rgb(80, 80, 80);">de 10:30 a 19:30 horas.</span></span></font></div></div></div>                                                                                                                                                                                                                                                                                                                                                                                                    1
<b><font ="arial"="" size="2">Horario de atención:</font></b><div><font ="arial"="" size="2"><span style="caret-color: rgb(80, 80, 80); text-size-adjust: auto; background-color: rgb(253, 253, 253);"><b>Lunes a<span class="Apple-converted-space">&nbsp;Domingo&nbsp;</span></b></span><span style="text-size-adjust: auto; background-color: rgb(253, 253, 253);"><span style="caret-color: rgb(80, 80, 80);"><b>de 10:00 a 19:00 horas.</b></span><br></span></font></div><div><font ="arial"="" size="2"><span style="text-size-adjust: auto; background-color: rgb(253, 253, 253);"><span style="caret-color: rgb(80, 80, 80);"><b><br></b></span></span></font></div><div><font ="arial"="" size="2"><span style="text-size-adjust: auto; background-color: rgb(253, 253, 253);"><span style="caret-color: rgb(80, 80, 80);"><b>Te esperamos.</b></span></span></font></div>     1
<b><font ="arial"="" size="2">Horario de atención:</font></b><div><font ="arial"="" size="2"><span style="caret-color: rgb(80, 80, 80); text-size-adjust: auto; background-color: rgb(253, 253, 253);"><b>Lunes a<span class="Apple-converted-space">&nbsp;Domingo&nbsp;</span></b></span><span style="text-size-adjust: auto; background-color: rgb(253, 253, 253);"><span style="caret-color: rgb(80, 80, 80);"><b>de 10:00 a 19:00 horas.</b></span></span></font></div>                                                                                                                                                                                                                                                                                                                                                                                                              1
<b><font size="2" ="arial"="">Horario de atención:</font></b><div><font size="2" ="arial"=""><span style="caret-color: rgb(80, 80, 80); text-size-adjust: auto; background-color: rgb(253, 253, 253);">Lunes a<span class="Apple-converted-space">&nbsp;Domingo&nbsp;</span></span><span style="text-size-adjust: auto; background-color: rgb(253, 253, 253);"><span style="caret-color: rgb(80, 80, 80);">de 10:00 a 19:00 horas.</span><br></span></font></div>                                                                                                                                                                                                                                                                                                                                                                                                                        1
<b><font ="arial"="" size="2">Horario de atención:</font></b><div><font ="arial"="" size="2"><span style="caret-color: rgb(80, 80, 80); text-size-adjust: auto; background-color: rgb(253, 253, 253);"><b>Lunes a<span class="Apple-converted-space">&nbsp;Domingo&nbsp;</span></b></span><span style="text-size-adjust: auto; background-color: rgb(253, 253, 253);"><span style="caret-color: rgb(80, 80, 80);"><b>de 10:00 a 19:00 horas.</b></span><br></span></font></div>                                                                                                                                                                                                                                                                                                                                                                                                          1
<table border="0" cellpadding="0" cellspacing="0" width="400" style="border-collapse:\n collapse;width:300pt"><tbody><tr height="21" style="height:15.75pt">\n  <td height="21" class="xl63" width="400" style="height:15.75pt;width:300pt">Lunes a\n  Viernes&nbsp; de 10:00 a 18:30 horas.</td></tr></tbody></table>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
<table border="0" cellpadding="0" cellspacing="0" width="261" style="border-collapse:\n collapse;width:196pt"><tbody><tr height="21" style="height:16.0pt">\n  <td height="21" class="xl67" width="261" style="height:16.0pt;width:196pt">Lunes a\n  Viernes de 10:00 a 19:00 horas</td></tr></tbody></table>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Lunes a Viernes de 9:00 a 19:00 horas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Name: HORARIO_ATENCION, dtype: int64

In [1539]:
# se modifica los valores a string
proyectos.HORARIO_ATENCION=proyectos.HORARIO_ATENCION.astype(str)

# se categoriza los valores
proyectos.HORARIO_ATENCION = proyectos.HORARIO_ATENCION.apply(lambda x:"lunes a domingo 10:30 a 18:30 horas" 
if "Domingo" in x else ("lunes a viernes 10:30 a 18:30 horas" if "Viernes" in x else None))

proyectos.HORARIO_ATENCION.value_counts()

lunes a domingo 10:30 a 18:30 horas    19
lunes a viernes 10:30 a 18:30 horas     3
Name: HORARIO_ATENCION, dtype: int64

Para 'RUT_PROYECTO' se quitan los puntos decimales

In [1540]:

proyectos.RUT_PROYECTO=proyectos.RUT_PROYECTO.str.replace(".", "")

C:\Users\Jaime Ospino\AppData\Local\Temp\ipykernel_14504\1293324709.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  proyectos.RUT_PROYECTO=proyectos.RUT_PROYECTO.str.replace(".", "")

Se Cambia el formatos de las fechas, eliminando la hora en las columnas que tengan formato date

In [1541]:
# Función para darle formato a las fechas 

def convertir_fecha(df, columna):

    # Convertir a tipo datetime
    df[columna] = pd.to_datetime(df[columna])

    # Extraer la fecha sin la hora
    df[columna] = df[columna].dt.date

    return df

In [1542]:
# formato a fechas del dataframe proyectos

convertir_fecha(proyectos,'FECHA_ESCRITURA')
convertir_fecha(proyectos,'FECHA_INICIO')
convertir_fecha(proyectos,'FECHA_TERMINO')
convertir_fecha(proyectos,'FECHA_REGISTRO_PROYECTO')

,ID_PROYECTO,RUT_PROYECTO,NOM_PROYECTO,NOM_LEGAL,NOM_LEGAL_PROMESA,NOMBRE_BANCO,CALLE,CIUDAD,COMUNA,PAIS,...,PORCENTAJE_MULTA,PRECIO_VENTA_OBJETIVO_PONDERADO,PRECIO_VENTA_OBJETIVO_UTIL,SUBSIDIO,TASA,TASA_HIP,FECHA_REGISTRO_PROYECTO,DIVIDENDO_ANIOS1,DIVIDENDO_ANIOS2,DIVIDENDO_ANIOS3
0,1,76326025-9,MARCHA BLANCA,INMOBILIARIA MARCHA BLANCA,INMOBILIARIA MARCHA BLANCA,BANCO DEL DESARROLLO,Apoquindo,Santiago,Las Condes,Chile,...,NaN,100.0,101.0,NaN,0.030,0.030,2020-01-23,25,20,30
1,2,76761005-K,ORIGEN,INMOBILIARIA SANTA CRISTINA SPA,INMOBILIARIA SANTA CRISTINA SPA,BANCO SECURITY,Santa Cristina 3138,Santiago,Macul,Chile,...,NaN,1.0,1.0,NaN,0.045,0.045,2018-04-20,25,20,30
2,3,76618549-5,COLIFE,INMOBILIARIA GENERAL JOFRE SPA,INMOBILIARIA GENERAL JOFRE SPA,BANCO SECURITY,General Jofre 220,Santiago,Santiago,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2017-12-08,25,20,30
3,4,76763933-3,ICONO,INMOBILIARIA MADRESELVA SPA,INMOBILIARIA MADRESELVA SPA,BANCO SECURITY,Las Madreselvas 4519,Santiago,Macul,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2018-09-02,25,20,30
4,5,76896595-1,OPEN ALEMANIA,INMOBILIARIA ALTO ALEMANIA DOS SPA,INMOBILIARIA ALTO ALEMANIA DOS SPA,BANCO BCI,Avenida Alemania 1655,Temuco,Temuco,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2019-09-02,25,20,30
5,6,76991583-4,MORE,FAI PINEDA SPA,FAI PINEDA SPA,BANCO BCI,juan de Pineda 8063,Santiago,La Florida,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2019-01-26,25,20,30
6,7,76991587-7,ARMONIA,FAI COLON SPA,FAI COLON SPA,NaN,Colón 6435,Santiago,La Cisterna,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2020-01-30,25,20,30
7,8,1-9,EDIFICIO PABLO,EDIFICIO PABLO,Edificio Pablo,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-26,25,20,30
8,9,1-9,EDIFICIO ALFRED,EDIFICIO ALFRED,EDIFICIO ALFRED,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.045,0.045,2019-01-26,25,20,30
9,10,1-9,EDIFICIO TEMPUS,EDIFICIO TEMPUS,EDIFICIO TEMPUS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-26,25,20,30
10,11,1-9,BUENA VISTA,BUENA VISTA,BUENA VISTA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.045,0.045,2019-01-26,25,20,30
11,12,76954681-2,Condominio Parque Lircay,Condominio Parque Lircay,WALK TALCA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.045,0.045,2020-11-24,25,20,30
12,13,76954686-3,Condominio Parque Las Palmas I,Condominio Parque Las Palmas I,WALK SAN JAVIER ETAPA I,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.045,0.045,2020-11-24,25,20,30
13,14,77012087-K,WALK SAN JAVIER II,WALK SAN JAVIER II,WALK SAN JAVIER II,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.045,0.045,2020-11-24,25,20,30
14,15,76954691-K,Condominio Nuevo Centro III,Condominio Nuevo Centro III,WALK LINARES I,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.045,0.045,2020-11-24,25,20,30
15,16,76954691-K,Nuevo Centro I,WALK LINARES II,WALK LINARES II,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.045,0.045,2020-11-24,25,20,30
16,17,77012092-6,WALK PARRAL,WALK PARRAL,WALK PARRAL,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.045,0.045,2020-11-24,25,20,30
17,18,76993875-3,EQUILIBRIO,FAI URREJOLA SPA,Fai Urrejola SpA.,BANCO BCI,Avenida Maria 6470,Santiago,La Cisterna,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2020-07-30,25,20,30
18,19,77041893-3,EDIFICIO RAICES,Inmobiliaria San Agustin de Talca Spa,Inmobiliaria San Agustin de Talca Spa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.045,0.045,2020-11-24,25,20,30
19,20,77081172-4,O2 ALAMEDA,FAI CENTRAL SPA,O2 ALAMEDA,NaN,Av Libertador Bernardo Ohiggins 4361,Santiago,Estación Central,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2020-09-10,25,20,30
20,21,1-8,Test EyR PostVenta,Test EyR PostVenta,Test EyR PostVenta,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.030,0.030,2020-10-21,25,20,30
21,22,76891224-6,Condominio La Reina,Condominio La Reina,Condominio La Reina,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-18,25,20,30
22,23,77122372-9,VISTAPARK,FAI RUPANCO SPA,Fai Rupanco SpA,NaN,Rupanco 395,Santiago,La Florida,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2021-03-23,25,20,30
23,24,77081167-8,MOVE,FAI FRANKLIN SPA,FAI Franklin SpA,NaN,Franklin 318,Santiago,Santiago,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2021-04-30,25,20,30
24,25,77142116-4,Walk Gacitua,Inmobiliaria y Const Fai Plaza Oriente I Spa,Inmobiliaria y Const Fai Plaza Oriente I Spa,BANCO SANTANDER-CHILE,av gacitua 275,Chillan,Chillán Viejo,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2021-08-26,25,20,30
25,26,76882505-0,FAN,INMOBILIARIA QUINCHAMALI SPA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-26,25,20,30
26,27,76761005-K,Campaña Verano,Campaña Verano,Campaña Verano,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-28,25,20,30
27,28,76882505-K,FAN,INMOBILIARIA QUINCHAMALI SPA,NaN,NaN,QUINCHAMALI 3130,Santiago,Macul,Chile,...,NaN,NaN,NaN,NaN,0.035,0.035,2022-03-02,25,20,30
28,29,77363661-3,LIVE,FAI LAS DALIAS SPA,NaN,NaN,RODRIGO DE ARAYA 2036,Ñuñoa,Santiago,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2022-03-03,25,20,30
29,30,76896595-1,Campaña OPEN ALEMANIA,campaña INMOBILIARIA ALTO ALEMANIA DOS SPA,campaña INMOBILIARIA ALTO ALEMANIA DOS SPA,BANCO BCI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-17,25,20,30
30,31,77363661-3,Campaña Live,Campaña Live,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-24,25,20,30
31,32,76882505-K,Campaña Fan,Campaña Fan,Campaña Fan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-24,25,20,30
32,33,77081172-4,Campaña O2,Campaña O2,Campaña O2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-24,25,20,30
33,34,77122372-9,Campaña Vista Park,Campaña Vista Park,Campaña Vista Park,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-24,25,20,30
34,35,76993875-3,Campaña Equilibrio,Campaña Equilibrio,Campaña Equilibrio,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-24,25,20,30
35,36,76991583-4,Campaña More,Campaña More,Campaña More,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-30,25,20,30
36,37,77081167-8,Campaña Move,Campaña Move,Campaña Move,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-30,25,20,30
37,38,76991587-7,Campaña Armonía,Campaña Armonía,Campaña Armonía,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-30,25,20,30
38,39,36130823-9,Prueba Soporte,Prueba Soporte,prueba,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-27,25,20,30
39,40,77142122-9,Condominio Atalaya,Inmb. y constructora FAI Plaza oriente II SpA,NaN,BANCO SANTANDER-CHILE,Avenida Las Rastras 3390,Talca,Talca,Chile,...,0.1,NaN,NaN,NaN,0.045,0.045,2022-04-28,25,20,30
40,41,77257623-4,MEET,FAI MIRIARTE SPA,FAI MIRIARTE SPA,SCOTIABANK,NaN,NaN,NaN,Chile,...,NaN,NaN,NaN,NaN,0.045,0.045,2022-10-18,25,20,30
41,42,65216645-8,Condominio Parque Las Palmas II,Condominio Parque Las Palmas II,Condominio Parque Las Palmas II,NaN,Adriana García Ibáñez 2078,San Javier,San Javier,Chile,...,NaN,NaN,NaN,0.03,0.030,0.030,2022-11-11,25,20,30
42,43,65216663-6,Condominio Don Pablo,Condominio Don Pablo,Condominio Don Pablo,NaN,Igualdad 1051,Parral,Parral,Chile,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-23,25,20,30
43,44,65221571-8,Condominio Nuevo Centro II,Condominio Nuevo Centro II,Condominio Nuevo Centro II,NaN,Krugg 678,Linares,Linares,Chile,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-28,25,20,30
44,45,76991587-7,Campaña Landing,Campaña Landing 10,Campaña Landing 10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-04-03,25,20,30
45,46,76991587-7,Campaña Referidos,Campaña Referidos,Campaña Referidos,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-26,25,20,30

In [1543]:
# gestión de valores nulos

proyectos=proyectos.fillna('sin_dato')

**cotizaciones**

In [1544]:
cotizacion=pd.read_csv("data/origen/COTIZACION_VIEW.csv")

C:\Users\Jaime Ospino\AppData\Local\Temp\ipykernel_14504\2079675604.py:1: DtypeWarning: Columns (11,12,31,35) have mixed types. Specify dtype option on import or set low_memory=False.
  cotizacion=pd.read_csv("data/origen/COTIZACION_VIEW.csv")

In [1545]:
cotizacion.columns

Index(['ID_COTIZACION', 'FECHA_COTIZ', 'APROBADA', 'NEGOCIO', 'G_GLS_HIP2',
       'G_GLS_HIP2_CUOT', 'G_GLS_HIP3', 'G_GLS_HIP3_CUOT', 'G_GLS_HIP1',
       'G_GLS_HIP1_CUOT', 'G_GLS_DC', 'RATING', 'DESTINO_COMPRA',
       'NOMBRE_CAMPANIA', 'TOTAL_COTIZ', 'TOTAL_DESCUENTO',
       'TOTAL_DESCUENTO_PORCENTAJE', 'DESCUENTO_TIPO_CALCULO', 'TASA_INTERES',
       'TASA_INTERES_ANIOS', 'TASA_HIP', 'ORIGEN', 'CODIGO', 'HASH_DOCUMENTO',
       'ID_CLIENTE', 'ID_PROYECTO', 'ID_USUARIO', 'ID_EVENTO', 'ID_MEDIO',
       'ID_TIPO_CONTACTO', 'VERSION', 'EMAIL', 'DIVIDENDO_VISIBLE',
       'BANCO_SUBSIDIO', 'LIBRETA_SUBSIDIO', 'ESTADO_SUBSIDIO',
       'SERIE_SUBSIDIO', 'UID'],
      dtype='object')

Se eliminan columnas que no son relevantes para el análisis

In [1546]:
cotizacion = cotizacion.drop(['VERSION', 'EMAIL','ID_TIPO_CONTACTO','LIBRETA_SUBSIDIO', 'G_GLS_DC',
                            'ID_TIPO_CONTACTO','ESTADO_SUBSIDIO','SERIE_SUBSIDIO', 'HASH_DOCUMENTO',
                            'ID_USUARIO', 'ID_EVENTO', 'ID_MEDIO','NOMBRE_CAMPANIA','NEGOCIO',
                            'CODIGO','UID','BANCO_SUBSIDIO','DESCUENTO_TIPO_CALCULO','RATING',
                            'DIVIDENDO_VISIBLE','DIVIDENDO_VISIBLE','ORIGEN','DESTINO_COMPRA',
                            'TASA_INTERES',	'TASA_INTERES_ANIOS',	'TASA_HIP'], axis=1)

Se elimina la columna 'APROVADA'. Se asume que todas las cotizaciones estan aprovadas.<br> 
Y  las filas de las cotizaciones que no fueron aprovadas por ser un porcentaje pequeño respecto al total de datos.

In [1547]:
f'Hay 31 cotizaciones no aprovadas. Corresponde al {100*(len(cotizacion[cotizacion["APROBADA"] == 0]) / len(cotizacion))}% del total de cotizaciones'

'Hay 31 cotizaciones no aprovadas. Corresponde al 0.03189562926989876% del total de cotizaciones'

In [1548]:
# Se elimina  las filas de cotizaciones no aprobadas
cotizacion = cotizacion[cotizacion["APROBADA"] != 0]

# se elimina toda la columna
cotizacion = cotizacion.drop('APROBADA', axis=1)

In [1549]:
# formato a fechas del dataframe cotizaciones

convertir_fecha(cotizacion,'FECHA_COTIZ')

,ID_COTIZACION,FECHA_COTIZ,G_GLS_HIP2,G_GLS_HIP2_CUOT,G_GLS_HIP3,G_GLS_HIP3_CUOT,G_GLS_HIP1,G_GLS_HIP1_CUOT,TOTAL_COTIZ,TOTAL_DESCUENTO,TOTAL_DESCUENTO_PORCENTAJE,ID_CLIENTE,ID_PROYECTO
0,1,2020-01-23,"Dividendo aproximado a 20 años: UF: 17,28 al 3...","24 cuotas de 31,83 UF c/u.","Dividendo aproximado a 30 años: UF: 13,11 al 3...","24 cuotas de 31,83 UF c/u.","Dividendo aproximado a 25 años: UF: 14,76 al 3...","24 cuotas de 31,83 UF c/u.",3908.1300,120.8700,0.03,1898,1
1,2,2020-01-27,"Dividendo aproximado a 20 años: UF: 17,79 al 3...","23 cuotas de 34,24 UF c/u.","Dividendo aproximado a 30 años: UF: 13,51 al 3...","23 cuotas de 34,24 UF c/u.","Dividendo aproximado a 25 años: UF: 15,20 al 3...","23 cuotas de 34,24 UF c/u.",4025.3739,124.4961,0.03,782,1
2,3,2020-01-29,"Dividendo aproximado a 20 años: UF: 12,35 al 3...","6 cuotas de 90,19 UF c/u.","Dividendo aproximado a 30 años: UF: 9,37 al 3,...","6 cuotas de 90,19 UF c/u.","Dividendo aproximado a 25 años: UF: 10,55 al 3...","6 cuotas de 90,19 UF c/u.",2794.0000,0.0000,0.00,782,2
3,4,2020-01-30,"Dividendo aproximado a 20 años: UF: 13,05 al 3...","23 cuotas de 24,9 UF c/u.","Dividendo aproximado a 30 años: UF: 9,91 al 3,...","23 cuotas de 24,9 UF c/u.","Dividendo aproximado a 25 años: UF: 11,15 al 3...","23 cuotas de 24,9 UF c/u.",2951.9800,0.0000,0.00,1898,1
4,5,2020-01-30,"Dividendo aproximado a 20 años: UF: 12,92 al 3...","23 cuotas de 24,65 UF c/u.","Dividendo aproximado a 30 años: UF: 9,81 al 3,...","23 cuotas de 24,65 UF c/u.","Dividendo aproximado a 25 años: UF: 11,04 al 3...","23 cuotas de 24,65 UF c/u.",2922.4602,29.5198,0.01,1898,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97187,99873,2023-05-30,"Dividendo aproximado a 20 años: UF: 23,72 al 4...","1 cuotas de 8,35 UF o $300.000 c/u.","Dividendo aproximado a 30 años: UF: 18,94 al 4...","1 cuotas de 8,35 UF o $300.000 c/u.","Dividendo aproximado a 25 años: UF: 20,80 al 4...","1 cuotas de 8,35 UF o $300.000 c/u.",4444.3700,126.6300,0.03,42426,29
97188,99874,2023-05-30,"Dividendo aproximado a 20 años: UF: 16,28 al 4...","1 cuotas de 8,35 UF o $300.000 c/u.","Dividendo aproximado a 30 años: UF: 13,00 al 4...","1 cuotas de 8,35 UF o $300.000 c/u.","Dividendo aproximado a 25 años: UF: 14,29 al 4...","1 cuotas de 8,35 UF o $300.000 c/u.",3051.6200,94.3800,0.03,42426,29
97189,99875,2023-05-30,"Dividendo aproximado a 20 años: UF: 16,20 al 4...",17 cuotas de 26.29689961 UF c/u.,"Dividendo aproximado a 30 años: UF: 12,94 al 4...",17 cuotas de 26.29689961 UF c/u.,"Dividendo aproximado a 25 años: UF: 14,21 al 4...",17 cuotas de 26.29689961 UF c/u.,3036.0000,0.0000,0.00,42430,29
97190,99876,2023-05-30,"Dividendo aproximado a 20 años: UF: 15,47 al 3...",24 cuotas de 19.35822055 UF c/u.,"Dividendo aproximado a 30 años: UF: 11,95 al 3...",24 cuotas de 19.35822055 UF c/u.,"Dividendo aproximado a 25 años: UF: 13,34 al 3...",24 cuotas de 19.35822055 UF c/u.,3153.0000,0.0000,0.00,8635,28
97191,99877,2023-05-30,"Dividendo aproximado a 20 años: UF: 18,80 al 4...",0 cuotas de 522.88152887 UF c/u.,"Dividendo aproximado a 30 años: UF: 15,01 al 4...",0 cuotas de 522.88152887 UF c/u.,"Dividendo aproximado a 25 años: UF: 16,49 al 4...",0 cuotas de 522.88152887 UF c/u.,3523.0000,0.0000,0.00,42432,24

In [1550]:
cotizacion.columns

Index(['ID_COTIZACION', 'FECHA_COTIZ', 'G_GLS_HIP2', 'G_GLS_HIP2_CUOT',
       'G_GLS_HIP3', 'G_GLS_HIP3_CUOT', 'G_GLS_HIP1', 'G_GLS_HIP1_CUOT',
       'TOTAL_COTIZ', 'TOTAL_DESCUENTO', 'TOTAL_DESCUENTO_PORCENTAJE',
       'ID_CLIENTE', 'ID_PROYECTO'],
      dtype='object')

Las columnas ['G_GLS_HIP2_CUOT', 'G_GLS_HIP1_CUOT', 'G_GLS_HIP3_CUOT'] presentan los mismos valores. Se unifican estas columnas.<br>

Se crean dos columnas para establecer el valor de la cuota y el numero de cuotas.

In [1551]:
cotizacion[['G_GLS_HIP2_CUOT', 'G_GLS_HIP1_CUOT', 'G_GLS_HIP3_CUOT']].sample(5)

,G_GLS_HIP2_CUOT,G_GLS_HIP1_CUOT,G_GLS_HIP3_CUOT
19794,"22 cuotas de 16,3 UF c/u.","22 cuotas de 16,3 UF c/u.","22 cuotas de 16,3 UF c/u."
94360,1 cuotas de 432.68304369 UF c/u.,1 cuotas de 432.68304369 UF c/u.,1 cuotas de 432.68304369 UF c/u.
11217,1 cuotas de 448.65 UF c/u.,1 cuotas de 448.65 UF c/u.,1 cuotas de 448.65 UF c/u.
69691,8 cuotas de 91.6875 UF c/u.,8 cuotas de 91.6875 UF c/u.,8 cuotas de 91.6875 UF c/u.
11412,29 cuotas de 10.50905172 UF c/u.,29 cuotas de 10.50905172 UF c/u.,29 cuotas de 10.50905172 UF c/u.

In [1552]:
# Se crea la columna 'CUOTAS' y se extraen el numero de cuotas

cotizacion['CUOTAS'] = cotizacion['G_GLS_HIP2_CUOT'].str.extract(r'(\d+) cuotas')

# Se borran las columnas ['G_GLS_HIP2_CUOT', 'G_GLS_HIP1_CUOT', 'G_GLS_HIP3_CUOT']

# Se crea la columna 'VALOR_CUOTA' y se reemplaza ',' por '.'

cotizacion['VALOR_CUOTA'] = cotizacion['G_GLS_HIP2_CUOT'].str.replace(',', '.')

# Se extrae el valor de la cuota

cotizacion['VALOR_CUOTA'] = cotizacion['VALOR_CUOTA'].str.extract(r'(\d+\.\d+|\d+) UF')



cotizacion = cotizacion.drop(['G_GLS_HIP2_CUOT', 'G_GLS_HIP1_CUOT', 'G_GLS_HIP3_CUOT'], axis=1)

Las columnas ['G_GLS_HIP2', 'G_GLS_HIP1', 'G_GLS_HIP3'] contienen información referente a los dividendos a 20 años 25 años y 30 años.<br>

Se crean columnas con la informacion que contienen esta columnas categorizandolas por año.

In [1553]:
cotizacion[['G_GLS_HIP2', 'G_GLS_HIP1', 'G_GLS_HIP3']].sample(5)

,G_GLS_HIP2,G_GLS_HIP1,G_GLS_HIP3
25816,"Dividendo aproximado a 20 años: UF: 22,98 al 3...","Dividendo aproximado a 25 años: UF: 19,64 al 3...","Dividendo aproximado a 30 años: UF: 17,44 al 3..."
22183,"Dividendo aproximado a 20 años: UF: 14,06 al 3...","Dividendo aproximado a 25 años: UF: 12,02 al 3...","Dividendo aproximado a 30 años: UF: 10,68 al 3..."
49289,"Dividendo aproximado a 20 años: UF: 17,70 al 3...","Dividendo aproximado a 25 años: UF: 15,12 al 3...","Dividendo aproximado a 30 años: UF: 13,43 al 3..."
53250,"Dividendo aproximado a 20 años: UF: 24,05 al 3...","Dividendo aproximado a 25 años: UF: 20,55 al 3...","Dividendo aproximado a 30 años: UF: 18,26 al 3..."
37677,"Dividendo aproximado a 20 años: UF: 14,87 al 3...","Dividendo aproximado a 25 años: UF: 12,71 al 3...","Dividendo aproximado a 30 años: UF: 11,29 al 3..."

- Para las cotizaciones con dividendos a 20 años

In [1554]:

# Se crea la columna 'INTERES' 
cotizacion['INTERES_1'] = cotizacion['G_GLS_HIP2'].str.extract(r'al ([\d,]+) %.')
cotizacion['INTERES_2'] = cotizacion['G_GLS_HIP2'].str.extract(r'al ([\d,]+)%.')
    # Unir los valores de las dos columnas
cotizacion['INTERES'] = cotizacion['INTERES_1'].fillna(cotizacion['INTERES_2'])
cotizacion['INTERES'] = cotizacion['INTERES'].str.replace(',', '.')

# Se crea la columna 'DIVIDENDO_20Y' 
cotizacion['DIVIDENDO_20Y'] = cotizacion['G_GLS_HIP2'].str.extract(r'a (\d+) años')

#se reemplaza en 'G_GLS_HIP2_CUOT' ',' por '.'
cotizacion['G_GLS_HIP2'] = cotizacion['G_GLS_HIP2'].str.replace(',', '.')

# Se crea la columna 'UF_20Y'
cotizacion['UF_20Y'] = cotizacion['G_GLS_HIP2'].str.extract(r'UF: ([\d.]+)')

# Se crea la columna 'DIVIDENDO_20Y'
cotizacion['DIVIDENDO_20Y'] = cotizacion['G_GLS_HIP2'].str.extract(r'Valor Dividendo : \$([\d.]+)')
cotizacion['DIVIDENDO_20Y'] =cotizacion['DIVIDENDO_20Y'] .str.replace('.', '')

# Se crea la columna 'RENTA_MIN_20Y'
cotizacion['RENTA_MIN_20Y'] = cotizacion['G_GLS_HIP2'].str.extract(r'Renta mínima : \$([\d.]+)')
cotizacion['RENTA_MIN_20Y'] =cotizacion['RENTA_MIN_20Y'] .str.replace('.', '')

# Se eliminan columnas
cotizacion = cotizacion.drop(['G_GLS_HIP2', 'INTERES_1', 'INTERES_2'], axis=1)

C:\Users\Jaime Ospino\AppData\Local\Temp\ipykernel_14504\2627701549.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cotizacion['DIVIDENDO_20Y'] =cotizacion['DIVIDENDO_20Y'] .str.replace('.', '')
C:\Users\Jaime Ospino\AppData\Local\Temp\ipykernel_14504\2627701549.py:23: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cotizacion['RENTA_MIN_20Y'] =cotizacion['RENTA_MIN_20Y'] .str.replace('.', '')

- Para las cotizaciones con dividendos a 25 años

In [1555]:


# Se crea la columna 'DIVIDENDO_25Y' 
cotizacion['DIVIDENDO_25Y'] = cotizacion['G_GLS_HIP1'].str.extract(r'a (\d+) años')


#se reemplaza en 'G_GLS_HIP1' ',' por '.'
cotizacion['G_GLS_HIP1'] = cotizacion['G_GLS_HIP1'].str.replace(',', '.')


# Se crea la columna 'UF_25Y'
cotizacion['UF_25Y'] = cotizacion['G_GLS_HIP1'].str.extract(r'UF: ([\d.]+)')

# Se crea la columna 'DIVIDENDO_25Y'
cotizacion['DIVIDENDO_25Y'] = cotizacion['G_GLS_HIP1'].str.extract(r'Valor Dividendo : \$([\d.]+)')
cotizacion['DIVIDENDO_25Y'] =cotizacion['DIVIDENDO_25Y'] .str.replace('.', '')

# Se crea la columna 'RENTA_MIN_25Y'
cotizacion['RENTA_MIN_25Y'] = cotizacion['G_GLS_HIP1'].str.extract(r'Renta mínima : \$([\d.]+)')
cotizacion['RENTA_MIN_25Y'] =cotizacion['RENTA_MIN_25Y'] .str.replace('.', '')

# Se eliminan columnas

cotizacion = cotizacion.drop('G_GLS_HIP1', axis=1)

C:\Users\Jaime Ospino\AppData\Local\Temp\ipykernel_14504\4004351013.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cotizacion['DIVIDENDO_25Y'] =cotizacion['DIVIDENDO_25Y'] .str.replace('.', '')
C:\Users\Jaime Ospino\AppData\Local\Temp\ipykernel_14504\4004351013.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cotizacion['RENTA_MIN_25Y'] =cotizacion['RENTA_MIN_25Y'] .str.replace('.', '')

- Para las cotizaciones con dividendos a 30 años

In [1556]:
# Se crea la columna 'DIVIDENDO_30Y' 
cotizacion['DIVIDENDO_30Y'] = cotizacion['G_GLS_HIP3'].str.extract(r'a (\d+) años')


#se reemplaza en 'G_GLS_HIP1' ',' por '.'
cotizacion['G_GLS_HIP3'] = cotizacion['G_GLS_HIP3'].str.replace(',', '.')


# Se crea la columna 'UF_30Y'
cotizacion['UF_30Y'] = cotizacion['G_GLS_HIP3'].str.extract(r'UF: ([\d.]+)')

# Se crea la columna 'DIVIDENDO_30Y'
cotizacion['DIVIDENDO_30Y'] = cotizacion['G_GLS_HIP3'].str.extract(r'Valor Dividendo : \$([\d.]+)')
cotizacion['DIVIDENDO_30Y'] =cotizacion['DIVIDENDO_30Y'] .str.replace('.', '')

# Se crea la columna 'RENTA_MIN_30Y'
cotizacion['RENTA_MIN_30Y'] = cotizacion['G_GLS_HIP3'].str.extract(r'Renta mínima : \$([\d.]+)')
cotizacion['RENTA_MIN_30Y'] =cotizacion['RENTA_MIN_30Y'] .str.replace('.', '')

# Se eliminan columnas

cotizacion = cotizacion.drop('G_GLS_HIP3', axis=1)

C:\Users\Jaime Ospino\AppData\Local\Temp\ipykernel_14504\3818561217.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cotizacion['DIVIDENDO_30Y'] =cotizacion['DIVIDENDO_30Y'] .str.replace('.', '')
C:\Users\Jaime Ospino\AppData\Local\Temp\ipykernel_14504\3818561217.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cotizacion['RENTA_MIN_30Y'] =cotizacion['RENTA_MIN_30Y'] .str.replace('.', '')

In [1557]:
cotizacion

,ID_COTIZACION,FECHA_COTIZ,TOTAL_COTIZ,TOTAL_DESCUENTO,TOTAL_DESCUENTO_PORCENTAJE,ID_CLIENTE,ID_PROYECTO,CUOTAS,VALOR_CUOTA,INTERES,DIVIDENDO_20Y,UF_20Y,RENTA_MIN_20Y,DIVIDENDO_25Y,UF_25Y,RENTA_MIN_25Y,DIVIDENDO_30Y,UF_30Y,RENTA_MIN_30Y
0,1,2020-01-23,3908.1300,120.8700,0.03,1898,1,24,31.83,3.00,489452,17.28,1957809,418179,14.76,1672716,371513,13.11,1486051
1,2,2020-01-27,4025.3739,124.4961,0.03,782,1,23,34.24,3.00,504201,17.79,2016803,430780,15.20,1723119,382707,13.51,1530829
2,3,2020-01-29,2794.0000,0.0000,0.00,782,2,6,90.19,3.00,349987,12.35,1399947,299022,10.55,1196089,265653,9.37,1062613
3,4,2020-01-30,2951.9800,0.0000,0.00,1898,1,23,24.9,3.00,369788,13.05,1479151,315940,11.15,1263760,280683,9.91,1122732
4,5,2020-01-30,2922.4602,29.5198,0.01,1898,1,23,24.65,3.00,366090,12.92,1464360,312781,11.04,1251122,277876,9.81,1111504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97187,99873,2023-05-30,4444.3700,126.6300,0.03,42426,29,1,8.35,4.50,851799,23.72,3407195,747234,20.80,2988937,680227,18.94,2720909
97188,99874,2023-05-30,3051.6200,94.3800,0.03,42426,29,1,8.35,4.50,584867,16.28,2339469,513070,14.29,2052282,467062,13.00,1868247
97189,99875,2023-05-30,3036.0000,0.0000,0.00,42430,29,17,26.29689961,4.50,581874,16.20,2327494,510444,14.21,2041777,464671,12.94,1858684
97190,99876,2023-05-30,3153.0000,0.0000,0.00,8635,28,24,19.35822055,3.50,555545,15.47,2222180,479060,13.34,1916239,429296,11.95,1717184
97191,99877,2023-05-30,3523.0000,0.0000,0.00,42432,24,0,522.88152887,4.50,675211,18.80,2700844,592324,16.49,2369295,539208,15.01,2156833

In [1560]:
# Gestión de nulos
f'valores nulos {cotizacion.isnull().sum().sum()}'

'valores nulos 20972'

In [1562]:
# Eliminacion de valores nulos
cotizacion = cotizacion.dropna().reset_index(drop=True)

In [1563]:
cotizacion

,ID_COTIZACION,FECHA_COTIZ,TOTAL_COTIZ,TOTAL_DESCUENTO,TOTAL_DESCUENTO_PORCENTAJE,ID_CLIENTE,ID_PROYECTO,CUOTAS,VALOR_CUOTA,INTERES,DIVIDENDO_20Y,UF_20Y,RENTA_MIN_20Y,DIVIDENDO_25Y,UF_25Y,RENTA_MIN_25Y,DIVIDENDO_30Y,UF_30Y,RENTA_MIN_30Y
0,1,2020-01-23,3908.1300,120.8700,0.03,1898,1,24,31.83,3.00,489452,17.28,1957809,418179,14.76,1672716,371513,13.11,1486051
1,2,2020-01-27,4025.3739,124.4961,0.03,782,1,23,34.24,3.00,504201,17.79,2016803,430780,15.20,1723119,382707,13.51,1530829
2,3,2020-01-29,2794.0000,0.0000,0.00,782,2,6,90.19,3.00,349987,12.35,1399947,299022,10.55,1196089,265653,9.37,1062613
3,4,2020-01-30,2951.9800,0.0000,0.00,1898,1,23,24.9,3.00,369788,13.05,1479151,315940,11.15,1263760,280683,9.91,1122732
4,5,2020-01-30,2922.4602,29.5198,0.01,1898,1,23,24.65,3.00,366090,12.92,1464360,312781,11.04,1251122,277876,9.81,1111504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,99873,2023-05-30,4444.3700,126.6300,0.03,42426,29,1,8.35,4.50,851799,23.72,3407195,747234,20.80,2988937,680227,18.94,2720909
95408,99874,2023-05-30,3051.6200,94.3800,0.03,42426,29,1,8.35,4.50,584867,16.28,2339469,513070,14.29,2052282,467062,13.00,1868247
95409,99875,2023-05-30,3036.0000,0.0000,0.00,42430,29,17,26.29689961,4.50,581874,16.20,2327494,510444,14.21,2041777,464671,12.94,1858684
95410,99876,2023-05-30,3153.0000,0.0000,0.00,8635,28,24,19.35822055,3.50,555545,15.47,2222180,479060,13.34,1916239,429296,11.95,1717184
95411,99877,2023-05-30,3523.0000,0.0000,0.00,42432,24,0,522.88152887,4.50,675211,18.80,2700844,592324,16.49,2369295,539208,15.01,2156833

Se exortan los datasets